 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="ha.css">
    
 </head>
 <body>
   
   <div class="f2">
   
   <div class="name"><h1>Instagram</h1></div>
   <form>
      <div class="go"><input type="text" placeholder="email or phone number"></div>
     <div class="went"><input type="text" placeholder="passwordssss"></div>
     <p class="tu">Forget password?</p>
      <button class="gone" type="submit">Log in</button>
      <div class="or"><hr/></div>
      <pre class="tun">OR</pre>
      <div class="fun"><hr/></div>
      <span><i class="fa fa-facebook-official" aria-hidden="true"></i>Log in with Facebook</span>
      <div class="run2"><hr/></div>
      <h5>Don't have an account?</h5>
      <h6>Sign up</h6>


   </form>
   </div>
 </body>
 </html>